	a:link {
		font-family: 'Fjalla One', calibri, sans-serif;
		font-weight:normal;
		color:white;
		}
	a:visited {
		color:white;
		}
	a:hover {
		font-weight:bold;
		text-decoration:none;
		}
	a:active {
		text-decoration:none;
		}
	.header {
		background-color: #53c68c;
		font-family: 'Fjalla One', calibri, sans-serif;
		}

	.footer {
		background-color: #79d2a6;
		font-family: 'Fjalla One', calibri, sans-serif;
		}

	.main {
		background-color: #c6e6d9;
		font-family: 'Fjalla One', calibri, sans-serif;
		}
	h2 {
		color:white;
		}
	